{% extends 'layout.html' %}
{% block content %}
<div class = "pnotice">
  <div class = "notice_create">
    <form method = "POST">
      <div class = "post_input">
        <input name="post">
      </div>
      <div class = "title">
        <input name="title">
      <div>
      <div class = "submit">
        <input type = "submit">
      </div>
    </form>
  </div>
</div>
{% for i in posts %}
<div class = "preview_post">
  {{i[2]}}
  {{i[0]}}
  {{i[1]}}
  <input type = "submit" value = "delete">
</div>
{% endfor %}
{% endblock %}
